body {
  margin:0;
  font-family: inherit;
  background-color: #d5d8dc;
  
}

.container{
  background-color: white;
  padding: 10px 15px;
}

.header{
  border-bottom:1px solid red;
}

.footer{
  border-top:1px solid red;
}

.sidepanel{
  border-left: 1px solid red;
  background-color: lightslategray;
}